
    <br /><br /><!-- Main Navbar -->
    <div class="navbar-outtercontainer">
      <div class="navbar-innercontainer">
          <nav class="navbar">
            <img
              src="../../assets/images/Logo.webp"
              alt="Logo"
              class="logo-image"
              routerLink="home"
            />
            <div class="menu">
              <a href="#reserve">Reserve</a>
              <a href="#offers">Offers</a>
              <a href="#vacations">Vacations</a>
              <a href="#about">About</a>
              <a href="#events">Events</a>
            </div>
  
            <!-- Top Navbar -->
            <nav class="top-navbar">
              <a href="#help">Help</a>
              <a href="#my-trips">My Trips</a>
              <app-sign-in> </app-sign-in>
              <a  routerLink="sign-up" >Sign Up</a>
            </nav>
          </nav>
        </div>
      </div>
  

  