
*{
    z-index: 10000;
}

.navbar-outtercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    width: 100%;
    top: -10px;
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    z-index: 10000;
}

.navbar-innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px 0;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 5px 20px;
    height: 40px;
    position: relative;
    font-size: 30px;
}

.top-navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 5px 20px;
    height: 30px;
    position: absolute;
    top: -63px;
    left: 10%; /* Default value */
    width: 100%;
    background-color: transparent;

}

.top-navbar a, app-sign-in {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.top-navbar a:hover, app-sign-in:hover {
    text-decoration: underline;
}

/* Sign-in form dropdown */
.top-navbar app-sign-in .sign-in-form {
    position: absolute;
    top: 35px; /* Positioning below the navbar */
    right: 0;  /* Align with the right side of the sign-in link */
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.navbar a, app-sign-in {
    color: black;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
}

.navbar a:hover, app-sign-in:hover {
    text-decoration: underline;
}

.logo-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    z-index: 10;
}

/* Media query for viewport width of 1000px */
@media (max-width: 1300px) {
    .top-navbar {
        left: 4%;
    }
}
