*{
    align-items: center;
}


.homeContainer{
    width: 100%;
    
    align-items: center;
   background-color:  #f4f4f4;
overflow-x: auto;
   display : flex;
   flex-direction: column;
}

*{
    font-family: 'Merriweather', serif
}