*{
    align-items: center;
}


.homeContainer{
    width: 100%;
   flex-direction: column;  
    align-items: center;
   background-color:  #f4f4f4;
overflow-x: hidden;
   display : flex;
  
   z-index: 900;
}

*{
    font-family: 'Merriweather', serif
}