<div class="card-container">
    <div class="card">
      <div class="card-left" [ngClass]="{'image-background': leftContent.type === 'image', 'text-background': leftContent.type !== 'image'}">
        <ng-container *ngIf="leftContent.type === 'image'">
          <img [src]="leftContent.data" alt="Left content image">
        </ng-container>
        <ng-container *ngIf="leftContent.type === 'text'">
          <div [innerHTML]="leftContent.data"></div>
        </ng-container>
      </div>
      <div class="card-right" [ngClass]="{'image-background': rightContent.type === 'image', 'text-background': rightContent.type !== 'image'}">
        <ng-container *ngIf="rightContent.type === 'image'">
          <img [src]="rightContent.data" alt="Right content image">
        </ng-container>
        <ng-container *ngIf="rightContent.type === 'text'">
          <div [innerHTML]="rightContent.data"></div>
        </ng-container>
      </div>
    </div>
  </div>
