<div class="home-display-container">
  <div class="search-bar-container">
    <div class="search-bar-group">
      <input
        type="text"
        placeholder="Location"
        class="search-input location-input"
      />
      <input
        type="text"
        placeholder="Date Range"
        class="search-input date-input"
      />
      <button mat-button class="search-button">Search</button>
    </div>
  </div>
  <img
    [src]="images[currentImageIndex]"
    alt="Beach Image"
    class="display-image"
  />
</div>
