<div class="custom-card" [ngClass]="getCardClass()" [ngStyle]="getCustomStyles()" [routerLink]="card.link">
  <div class="card-image-container" [ngStyle]="{'background-image': 'url(' + card.imageUrl + ')'}">
    <div class="card-text-overlay">
      <p class="lineOne">{{ card.lineOne }}</p>
      <p class="lineTwo">{{ card.lineTwo }}</p>
      <div class="lineThree">
        {{ card.lineThree }}
        <span class="arrow-right">&#9654;</span>
      </div>
    </div>
  </div>
  <div class="card-gradient-overlay"></div>
</div>
